* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: qanelas;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.card {
    height: 350px;
    width: 250px;
    border-radius: 10px;
    padding: 25px;
    background-color: #fff;
    text-align: center;
}

.card img {
    width: 100%;
    height: 45%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.card h4 {
    font-weight: 500;
}

.card h5 {
    margin-top: 20px;
}

.btn-container {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.btn-container button {
    width: 100px;
    height: 28px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 600;
    cursor: pointer;
}

.btn-container .add-btn {
    background-color: #24a0ed;
}

.btn-container .block-btn {
    background-color: red;

}